expose_php = Off

log_errors = On
error_log = /var/log/php.log

date.timezone = Asia/Tokyo

{% if php_remote_debug %}
xdebug.remote_enable = On
xdebug.remote_autostart= On
xdebug.remote_connect_back = On
xdebug.remote_host = {{ php_remote_name }}
{% endif %}
xdebug.cli_color = 1
xdebug.show_local_vars = 1
xdebug.var_display_max_depth = 10
